@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  color: rgb(255, 255, 255);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: rgb(113, 17, 148);
}

.container {
  padding: 30px;
  margin-top: 80px;
}

h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 48px;
  letter-spacing: -0.2px;
  font-family: "Merriweather", serif;
}

p {
  max-width: 50rem;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 100px;
}

.main-content {
  max-width: 60rem;
  width: 100%;
  min-height: 600px;
  height: auto;
  padding: 18px 18px 120px 18px;
  position: relative;
  resize: none;
  box-shadow: 0 12px 48px 0px rgb(109 117 141 / 20%);
  background: rgb(9, 9, 9);
  border: 0.5px solid rgb(231 233 245);
  border-radius: 16px;
}

.main-content:focus {
  border: 0.3px solid rgb(43, 45, 56, 0.3);
  outline: none;
}

p,
.main-content {
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.6;
}

.btn{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.btn-style {
  display: flex;
}



button {
  /* position: absolute; */
  background: rgb(17, 22, 166);
  color: rgb(255 255 255);
  border-radius: 6px;
  padding: 16px 32px;
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  margin: auto;
  /* display: flex; */
  position: relative;
  margin-top: -180px;
  cursor: pointer;
}

.btn-style1 {
  display: flex;
  margin-top: 80px;
  margin-left: -0px;
}

button:focus,
button:hover {
  background: rgb(50, 42, 201);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}

.counter-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 20px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    word-spacing: normal;
    margin-bottom: 40px;
    margin-top: 15px;
  }

  .main-content {
    /*border:1px solid*/
    font-size: 16px;
    word-spacing: normal;
  }

  button {
    padding: 12px 28px;
    font-size: 16px;
    margin-top: -70px;
  }

  .counter-container {
    flex-direction: column;
  }

  .counter-container p:first-child {
    margin-bottom: 0;
  }
}